<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.HolidayRepository">

    <resultMap id="holidayCalcResultMap" type="com.example.demo.domain.HolidayCalc">
        <result column="seq" property="seq" />
        <result column="days" property="date" />
        <result column="name" property="name" />
        <result column="holiday_holiday" property="holidayHoliday" />
        <result column="holiday_weekday" property="holidayWeekday" />
        <result column="weekday_holiday" property="weekdayHoliday" />
        <result column="holiday_8H_over" property="holiday8hOver" />
    </resultMap>

    <select id="findAll" resultMap="holidayCalcResultMap">
        SELECT
             seq
            ,days
            ,name
            ,holiday_holiday
            ,holiday_weekday
            ,weekday_holiday
            ,holiday_8H_over
        FROM holiday_calc
    </select>

    <select id="find" parameterType="String" resultMap="holidayCalcResultMap">
        SELECT
             seq
            ,days
            ,name
            ,holiday_holiday
            ,holiday_weekday
            ,weekday_holiday
            ,holiday_8H_over
        FROM holiday_calc
        WHERE name=#{value}
    </select>

    <insert id="save" parameterType="com.example.demo.domain.HolidayCalcDto">
        INSERT INTO holiday_calc(
             days
            ,name
            ,holiday_holiday
            ,holiday_weekday
            ,weekday_holiday
            ,holiday_8H_over
        ) VALUES
            <foreach collection="list" item="holidayCalcDto" separator=",">
                (#{holidayCalcDto.date}
                ,#{holidayCalcDto.name}
                ,#{holidayCalcDto.holidayHoliday}
                ,#{holidayCalcDto.holidayWeekday}
                ,#{holidayCalcDto.weekdayHoliday}
                ,#{holidayCalcDto.holiday8hOver}
                )
            </foreach>
    </insert>
</mapper>