<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.repository.UploadRepository">

    <resultMap id="workDetailResultMap" type="com.example.demo.domain.WorkDetail">
        <result column="seq" property="seq" />
        <result column="days" property="date" />
        <result column="day_of_the_week" property="dayOfTheWeek" />
        <result column="name" property="name" />
        <result column="begin_work" property="beginWork" />
        <result column="end_work" property="endWork" />
        <result column="total_work" property="totalWork" />
        <result column="night_work" property="nightWork" />
        <result column="holiday_work" property="holidayWork" />
        <result column="leave" property="leave" />
        <result column="holiday_check" property="holiday" javaType="java.lang.Boolean" jdbcType="CHAR" typeHandler="com.example.demo.util.mybatis.CustomBooleanTypeHandler"/>
    </resultMap>

    <select id="findAll" resultMap="workDetailResultMap">
        SELECT
             seq
            ,days
            ,day_of_the_week
            ,name
            ,begin_work
            ,end_work
            ,total_work
            ,night_work
            ,holiday_work
            ,leave
            ,holiday_check
        FROM sample
    </select>

    <select id="find" parameterType="String" resultMap="workDetailResultMap">
        SELECT
             seq
            ,days
            ,day_of_the_week
            ,name
            ,begin_work
            ,end_work
            ,total_work
            ,night_work
            ,holiday_work
            ,leave
            ,holiday_check
        FROM sample
        WHERE name=#{value}
        ORDER BY days
    </select>
    
    <select id="findAdmin" resultMap="workDetailResultMap">
        SELECT
             seq
            ,days
            ,day_of_the_week
            ,name
            ,begin_work
            ,end_work
            ,total_work
            ,night_work
            ,holiday_work
            ,leave
            ,holiday_check
        FROM sample
        WHERE name='admin'
    </select>

    <insert id="save" parameterType="com.example.demo.domain.WorkDetailDto">
        INSERT INTO sample(
             days
            ,day_of_the_week
            ,name
            ,begin_work
            ,end_work
            ,total_work
            ,night_work
            ,holiday_work
            ,leave
            ,holiday_check
        ) VALUES
            <foreach collection="list" item="workDetailDto" separator=",">
                (#{workDetailDto.date}
                ,#{workDetailDto.dayOfTheWeek}
                ,#{workDetailDto.name}
                ,#{workDetailDto.beginWork}
                ,#{workDetailDto.endWork}
                ,#{workDetailDto.totalWork}
                ,#{workDetailDto.nightWork}
                ,#{workDetailDto.holidayWork}
                ,#{workDetailDto.leave}
                ,#{workDetailDto.holiday, typeHandler=com.example.demo.util.mybatis.CustomBooleanTypeHandler}
                )
            </foreach>
    </insert>
</mapper>